To calculate Linear Regression:
I used: scikit-learn package
website: https://scikit-learn.org/stable/

Installation: (OS: windows)

1. using pip:
pip install -U scikit-learn

2. using conda (recommended)
conda install -c anaconda scikit-learn